argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
cffi==1.16.0
colorama==0.4.6
comtypes==1.2.0
construct==2.10.70
get-nic==0.0.3
lxml==4.9.4
numpy==1.26.2
pandas==2.1.4
pbkdf2==1.3
pycparser==2.21
pycryptodomex==3.19.0
pykeepass==4.0.6
python-dateutil==2.8.2
pytz==2023.3.post1
pywifi==1.1.12
scapy==2.5.0
six==1.16.0
tqdm==4.66.1
tzdata==2023.3
wifi==0.3.8
